*{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: "나눔고딕",sans-serif;
  font-size: 16px;
  color: #333;
}
.header{
  width: 1140px;
  height: 90px;
  margin: 0 auto;
}
.header h1{
  float: left;
  padding-top: 28px;
  margin-right: 25px;
}
.header h2{
  float:left;
  line-height: 90px;
  font-size: 20px;
}
.header .menu{
  float: right;
}
.header .menu li{
  float: left;
  margin-left: 40px;
  line-height: 90px;
}
.header .menu li a:hover{
  color: blue;
}
.section1{
  height: 654px;
  background: url(img/pc-cover-main.jpg) no-repeat center top;
  background-size: cover;
}
.section1 h2{
  display: block;
  padding: 95px 0 15px;
  color: #fff;
  text-align: center;
  font-size: 3em;
}
.section1 p{
  color: #fff;
  text-align: center;
  padding-bottom: 75px;
}

