
body{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}
main{
  display: grid;
  text-align: center;
  height: 200px;
  width:  250px;
  border: 20px solid red;
}
.date{
  font-size:32px;
  color: crimson;
}
.time{
  font-size: 32px;
  font-weight: bold;
  color:skyblue;
}