 /* Fontawesome 4.7 */
 @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap');
 /* reset CSS */
 a{ text-decoration: none; color: #222;}
 h1,h2,h3,h4,h5,h6{margin: 0; font-weight: normal;}
 button{cursor: pointer; outline: none; border: none;}
 input,textarea,select{
   outline: none;
 } 
 body{margin: 0; 
 
   height: 100vh;
   font-family: 'Noto Sana KR', sans-serif;
 }
 button,input,textarea,select{
   font-family: 'Noto Sana KR', sans-serif;
 }

 .btn-open{
  width: 350px;
  height: 200px;
  background-color: crimson;
  color: white;
  font-size: 36px;
  /* display: block; */
  border-radius: 5px;
 }
 section{
  display: flex;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
 }
 /* .select{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;

  text-align: center;
  padding-top: 150px;
  transition: 0.3s;
 } */

.select{
  display: flex;
  height: 300px;
  width: 650px;
}
.select img{
width: 300px;
 height: 300px;
}

content{
  height: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
content .btn-submit{
  background-color: crimson;
  color: white;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}
content h2{
font-size: bold;
font-size: 20px;
margin: 10px 0;
}
content input{
  text-align: center;
  padding: 10px;
}