
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body{
  font-family: 'Rubik Doodle Shadow', serif;
}
h1{
  font-weight: 800;
}
#test{
  font-weight: normal;
}

