 /* Fontawesome 4.7 */
 @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap');
 /* reset CSS */
 a{ text-decoration: none; color: #222;}
 h1,h2,h3,h4,h5,h6{margin: 0; font-weight: normal;}
 button{cursor: pointer; outline: none; border: none;}
 input,textarea,select{
   outline: none;
 }
 ul{
  margin: 0; padding: 0; list-style: none;
 } 
 body{margin: 0; 
  line-height: 1.5em;
   height: 100vh;
   font-family: 'Noto Sana KR', sans-serif;
 }
 button,input,textarea,select{
   font-family: 'Noto Sana KR', sans-serif;
 }
 .container{
  height: 100%;
 }

 /* common CSS */
 /* .inner{
  border:1px solid blue;
  width: 1300px;
  text-align: right;
 } */
 header{

 }
 .banner{
  border: 1px solid blue;
  background-color: black;
  height: 40px;
  display: flex;
  align-items: center;
 }
 .lnb{
  width: 1300px;
  margin: auto;
  text-align: right;
 }
 .lnb a{
  color: #ddd;
  margin: 5px;
 }
 .lnb a:last-child{
  margin: 0;
 }
 .lnb a em{
  color: #bbb;
 }
 nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .logo{

 }
 .logo img{}
 .gnb{}
 .gnb li{}
 .gnb li a{
  margin: 20px;
  color: white;
 }
 .gnb li a:hover{
  color: #222;
 }
 .gnb li a:last-child{
  margin-right: 0;
 }
